= form_for @field do |f|
  .form-group
    label for="name"  Name:
    = f.text_field :name,class:'form-control'
    = f.hidden_field :shape, id:'hidden-shape', value: @field.try(:shape)
  = f.submit 'Save', class: 'btn btn-default'

