h1 Editing Field

= link_to 'Show', @field, class: 'btn btn-success'
= link_to 'Back', fields_path, class: 'btn btn-default'

= render 'form'

#map data-field-id=@field.id data-shape=Field.to_map_coords(@field.shape)
javascript:
    init(true);
