.row
  .col-md-8
    h2 Map of shapes
    table.table
      thead
        tr
          th Name
          th Area
          th Actions
      tbody
      - @fields.each do |field|
        tr
          td
            = link_to field.name, field
          td
            = Field.area(field.shape) if field.shape
          td
            = link_to 'Edit', edit_field_path(field), class: 'btn btn-warning'
            = link_to 'Destroy', field, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  .col-md-4
    #map

#fields data-fields=@fields.map{ |field| Field.to_map_coords(field.shape) }
javascript:
    var mymap = L.map('map').setView([50.4546600, 30.5238000], 3);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'test'

    }).addTo(mymap);
    var fields = $('#fields').data('fields');
    $.each(fields, function (index, value) {
        L.geoJSON(JSON.parse(value)).addTo(mymap);
    });
