h2 Map of shapes
table.table
  thead
    tr
      th Name
      th Shape
      th Actions
  tbody
    tr
      td
        = @field.name
      td
        = Field.to_map_coords(@field.shape)
      td
        = link_to 'Edit', edit_field_path(@field), class: 'btn btn-warning'
        = link_to 'Back', fields_path, class: 'btn btn-default'



#map data-shape=Field.to_map_coords(@field.shape)
  javascript:
      init(false);


