html
  head
    title TestApp
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

.container
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand =link_to 'Root', root_path, class:'btn btn-default'
        a.navbar-brand =link_to 'New', new_field_path, class:'btn btn-default'
  #notice
    = notice
  = yield

